    {{#if success}}
<div class="container" style="marging-top: 10%;">
<div aria-live="polite" aria-atomic="true" style="position: float; min-height: 100px;">
  <div class="toast" style="position: absolute;  right: 0;" data-autohide="false">
    <div class="toast-header">
      <img src="http://icons.iconarchive.com/icons/danleech/simple/24/facebook-icon.png" class="rounded mr-2" alt="...">
      <strong class="mr-auto">System</strong>
      <small>11 mins ago</small>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
     {{{success}}}
    </div>
  </div>
</div>
</div>
{{/if}}