<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container">
    <a class="navbar-brand" href="/">Jlc < /dev> </a> <button class="navbar-toggler" type="button"
        data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/links">Links <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/links/add">Agregar</a>
            </li>
          </ul>
          <span class="navbar-text">
              <button class="btn btn-sm btn-dark btn-block">
                  Salir <i class="fas fa-power-off"></i>
              </button>
          </span>
        </div>
  </div>
</nav>