<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container">
    <a class="navbar-brand" href="/">Jlc < /dev> </a> <button class="navbar-toggler" type="button"
      data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      {{#if user}}

      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/main">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/links">Links <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/links/add">Agregar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tasks">TAKS LIST <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tasks/add">TASK ADD <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tasks/edit">TASK EDIT <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Perfil</a>
        </li>
      </ul>
      <span class="navbar-text">
        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit"><a href="/logout">Salir <i
              class="fas fa-power-off"></i></a></button>
      </span>
      {{else}}
      <span class="navbar-text">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><a href="/signin">Login <i
              class="fas fa-power-off"></i></a></button>
      </span>
      {{/if}}
    </div>
  </div>
</nav>