<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Jlc < /dev> </a> <button class="navbar-toggler" type="button"
        data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/links">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/links/add">Agregar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Ver </a>
            </li>
          </ul>
          <span class="navbar-text">
            ASIDE
          </span>
        </div>
  </div>
</nav>