<body>
    {{!-- <div class="container d-flex flex-row col-lg-12 pt-3">
        <div class="d-flex flex-row align-items-center">
            <div>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Tareas
                        <span class="badge badge-primary badge-pill">4</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Examenes
                        <span class="badge badge-primary badge-pill">2</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Notas
                        <span class="badge badge-primary badge-pill">1</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="container"></div>
    </div> --}}

    <H1>Bienvenido {{user.fullname}}</H1>
</body>