<div class="container p-4">
    <div class="row">
        {{#each links}}
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <a href="{{url}}" target="_blank">
                            <h3 class="card-title text-uppercase">
                                {{tittle}}
                            </h3>
                        </a>
                        <p class="m-2">{{description}}</p>
                        <p>{{timeago created_at}}</p>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?"><a href="/links/delete/{{id}}"class="btn btn-danger btn-secondary"><i class="fas fa-trash"></i></a></button>
                            
                            <a href="/links/edit/{{id}}"class="btn btn-secondary"><i class="fas fa-edit"></i></a>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        {{else}}
            <div class="alert alert-warning alert-dismissible fade show col-12 text-center" role="alert">
             No hay links agregados <a href="/links/add" class="alert-link">agrega mas links aqui</a>.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        </div>
        {{/each}}
    </div>
</div>