<!DOCTYPE html>
<html lang="en">  
</head>
<body>
  <h2>Si lo imaginas, codealo hasta que se haga realidad!</h2>
  <h3>Just te beggining of something incredible</h3>
  <H3>I Love U Lil T-Rex <i class="far fa-heart"></i></H3>
<div class="text-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
</body>
</html>