<div class="jumbotron">
    <h1 class="display-4">Bienvenido Itlaciano!</h1>
    <p class="lead">Bienvenido! Espero los estudios vayan super, recuerda que esta es una version Beta e ira
        mejorando con el
        tiempo, sobre cualquier duda o sujerencia pueden escribirme a mi correo (jacobleandro@icloud.com), hasta
        pronto Itlacianos!</p>
</div>