<div class="pt-4">
    <div class="jumbotron container">
        <h1 class="display-4">Bienvenido Itlaciano!</h1>
        <p class="lead">Bienvenido! Espero los estudios vayan super, recuerda que esta es una version Beta e ira
            mejorando con el
            tiempo, sobre cualquier duda o sujerencia pueden escribirme a mi correo (jacobleandro@icloud.com), hasta
            pronto Itlacianos!</p>
        <h1>Nuevos cambios!</h1>
        <p>
            Hola! Soy yo de nuevo, he actualizado un poco el app trayendo el Modo oscuro a la misma, tambien cambie a la
            base de datos, la pase de una base de datos de prueba que funcionaba con discos duros tradicionales, que son
            un
            poco lentos, a unos SSD de alta velocidad hosteados en Amazon Web Services, espero no tengan ningun
            inconveniente con los cambios, y en caso de tenerlos porfavor no duden escribirme un correo, dicho
            esto,hecho
            con amor y café por Jacob, hasta
            la proxima!
        </p>
    </div>
</div>