<div class="card text-center">
  <div class="card-header">
    Registrate
  </div>
  <div class="card-body">
    <h5 class="card-title">Rellena los campos con tun informacion</h5>
    <div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card ">
                <div class="card-body">
                    <form action="/signup" method="post">
                            <div class="form-group">
                                <input type="text" name="username" id="" class="form-control" placeholder="Nombre de usuario" autofocus> 
                            </div>
                            <div class="form-group">
                                <input type="text" name="fullname" id="" class="form-control" placeholder="Nombre completo">
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" id="" class="form-control" placeholder="Contraseña">
                            </div>

                            <div class="form-group">
                                <button class="btn btn-success btn-block">
                                     <i class="fas fa-paper-plane"></i>
                                </button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
  </div>
  <div class="card-footer text-muted">
    Tu informacion se guardara segura y encriptada  en un servidor <i class="fas fa-lock"></i>
  </div>
</div>