<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card ">
                <div class="card-body">

                    <form action="/signup" method="post">
                        <div class="form-group">
                            <input type="text" name="fullname" id="" class="form-control" placeholder="Nombre completo" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="username" id="" class="form-control" placeholder="Nickname">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control" placeholder="Clave">
                        </div>

                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                <i class="fas fa-arrow-right"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>